<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Email</td>
            <td>User Type</td>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.user_type %></td>
        </tr>
        <% end %>
    </tbody>
</table>
