<footer class="footer">
  <div class="container">
    <div class="content has-text-centered white-font">
        Code Source: <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Github</a>.
        <a class="icon" href="https://github.com/jgthms/bulma">
          <span class="icon" style="color: white;">
          <i class="fa fa-github"></i>
        </a>
    </div>
  </div>
</footer>
