<div class="homepage text-center">
<p id="notice" class="denied"><%= notice %></p>

    <h1 class="title is-1">Welcome to Lambtown</h1>
    <h5 class="subtitle is-5">-We are proud young lambs-</h5>

<div class="block">
  <a class="button is-primary" href="/posts"> Posts </a>
</div>

</div>
