/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

html {
  background-color: #e0f7fa;
}

.homepage h1{
  font-weight: 700px;
}


.nav {
  margin-bottom:2em;
  background-color: transparent;
  border-bottom: 2px dotted #3A87B0;
}
.nav-item a {
font-size: 1em;
}

.button{
margin-top: 1em;
}


.profile-pic{
  width: 3em;
  margin-right: 8px;
}

.lamb-logo{
  height: 3em;
  width: 3em;
  margin: 0.5em;
}

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .nav-menu {
  display: block;

}

.text-center{
  text-align: center;
}

.denied {
  font-size: 5em;
  color: red;
}
